// -------------------------------- CONTACT -------------------------------
.contact-container {
    // outline: 2px solid red;
    width: 50rem;
    // height: 80vh;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 1rem;
    gap: 1rem;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.66);
    img {
      width: 100%;
    }
    div {
      margin-block: 0.5rem;
    }
    .fa-solid {
      color: #ff1874;
      margin-right: 1rem;
    }
  }