// -------------------------------- HOMEPAGE -------------------------------
.container {
    // outline: 2px solid red;
    width: 40rem;
    height: 80vh;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 1rem;
    // background-color: teal;
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.66);
    .upper,
    img,
    .lower {
      margin-block: 1rem;
    }
    .upper {
      line-height: 2.5rem;
    }
    img {
      aspect-ratio: 1/1;
      height: 20rem;
      border-radius: 50%;
      //     border: 4px solid rgba(0, 0, 0, 0.549);
    }
  }